.card {
  padding: 40px 20px;
  margin-top: 200px;
}
.titulo-formacao {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
  gap: 0rem 2rem;
}
.card-item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.75rem;
  -webkit-box-shadow: 1px 2px 10px -4px #000000;
  box-shadow: 1px 2px 10px -4px #000000;
}
.card-item img {
  position: relative;
  max-width: 300px;
  place-self: start center;
}
.card-item:last-child {
  display: block;
}

.descricao {
  letter-spacing: 0.075rem;
  max-width: 35ch;
}

@media (max-width: 800px) {
  .card {
    margin-top: 100px;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 2rem 0;
  }
  .card-item {
    overflow-x: hidden;
  }
  .card-item:last-child {
    display: inherit;
  }
  .descricao {
    justify-content: center;
    align-items: center;
    max-width: 60ch;
  }
}
