.footer-bg {
  background-color: var(--cor-10);
}
.footer {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}
.footer-conteudo {
  margin-top: 20px;
}
.footer p:last-child {
  margin-top: 20px;
}
