.introducao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-top: 120px;
}

.intro p {
  margin-top: 40px;
  max-width: 60ch;
}
.introducao img {
  border-radius: 50%;
}
.links {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.button-40 {
  background-color: var(--cor-13);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  width: auto;
}
.card-button {
  position: absolute;
  bottom: -2rem;
  left: 7.5rem;
}

@media (max-width: 950px) {
  .card-button {
    position: initial;
    place-self: end center;
    margin-bottom: 2rem;
  }
}

.button-40:hover {
  background-color: rgba(17, 24, 39, 0.8);
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: 0.75rem 1.5rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao .img {
    margin-top: 2.5rem;
  }
  .introducao img {
    width: 80%;
    margin: 0 auto;
  }
}
