.container-education{
    width: 85%;
    height: 20rem;
    border-radius: 10px 10px 10px 10px;
    margin: 200px auto 200px auto;
}
.title-education{
    width: 100%;
    height: 10%;
}
.title-education p{
    text-align: center;
    color: white;
    size: 200px;
    font-size: 24px;
    font-weight: bold;
}
.cards{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 85%;
    justify-content: center;
    gap: 3rem;
}
.cards div{
    width: 30%;
    height: 100%;
    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    box-shadow:  0.1em 0.1em 0.5em gray;
    
}
.imgEduc{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.iconEduc{
    text-align: center;
}
.iconEduc i{
    font-size: 7rem;
    margin-top: 20px;
    color: #1fc1aa;
}
.textCard{
    text-align: left;
    line-height: 0.4;    
}
.textCard p{
    margin-left: 10px;
    margin-top: 12px;
}
.hrCard{
    width: 80%;
    background-color:  #1fc1aa ;
    height: 1px;
}
.button-30{
  align-items: center;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  background-color:  #1fc1aa ;
  color: white;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-decoration: none;
  font-size: 18px;
}

