footer {
	width: 100%;
	height: 10rem;
	background-color: #1fc1aa;
	justify-content: center;
	align-items: center;
	margin: auto auto auto auto;
	display: flex;
	color: white;
	border: 1px solid white;
}

ul {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6rem;
}

div a:visited {
	color: white;
}

div a:hover {
	color: white;
	text-decoration: none;
}

div a:active {
	color: white;
	text-decoration: none;
}
ul div{
	width: 60%;
	margin: 1rem auto auto 26rem;

}

@media screen and (max-width: 767px) {
	footer {
		width: 100%;
		height: 15rem;
		background-color: #1fc1aa;
		justify-content: center;
		align-items: center;
		margin: auto auto auto auto;
		display: flex;
		color: white;
		border: 1px solid white;
	}
	ul {
		width: 80%;
		display: block;
		margin: 200px auto auto auto;
		font-size: 1.6rem;
	}
	ul div {
		width: 75%;
		margin: 3.5rem auto auto 10rem;
		
	}
}

@media screen and (max-width: 600px) {
	footer {
		width: 100%;
		height: 15rem;
		background-color: #1fc1aa;
		align-items: center;
		display: flex;
		color: white;
	}
	ul {
		width: 100%;
		display: block;
		margin: auto auto auto auto;
		font-size: 1.6rem;
	}
	ul div {
		width: 100%;
		margin: 3.5rem auto auto -2rem;
	}
}