html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
}

button:hover {
	filter: brightness(140%);
}

.home-info {
	width: 100%;
	max-width: 1920px;
	margin-top: 100px;
	height: 300px;
}
.container{
	width: 100%;
	max-width: 1920px;
}
#titleInfo {
	width: 50%;
	max-width: 1920px;
	float: left;
	padding: 25px;
}

.title h1 {
	display: flex;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 3.1rem;
	color: #1fc1aa;
	/*Em decisão do verde ou do preto*/
}

.additional-info p {
	display: flex;
	width: 100%;
	max-width: 1920px;
	margin-top: 30px;
	word-wrap: break-word;
	text-align: justify;
	font-size: 1.6rem;
}

.twoButtons {
	display: flex;
	width: 100%;
	max-width: 1920px;
}

.divButtons {
	display: flex;
	width: 50%;
	max-width: 1920px;
	gap: 1rem;
}

.divButtons a {
	text-decoration: none;
}

.divButtons button {
	display: flex;
	width: 100%;
	font-size: 1.6rem;
	gap: 1rem;
	background-color: #1fc1aa;
	color: white;
	cursor: pointer;
	border-radius: 7px 0px 7px 0px;
	border: none;
}

.divButtons button p {
	font-size: 1.6rem;
	margin: auto auto auto auto;
}

.divButtons i {
	font-size: 3.2rem;
	margin: auto auto auto auto;
}

#div-img-profile {
	display: flex;
	width: 50%;
	max-width: 1920px;
	float: right;
	margin: 0 auto;
}

#img-profile {
	width: 60%;
	max-width: 1920px;
}


/* Tablet */

@media screen and (max-width: 767px) {
	.home-info {
		width: 100%;
		max-width: 1920px;
		margin-top: 100px;
		height: 300px;
	}
	#titleInfo {
		width: 55%;
		max-width: 1920px;
		float: left;
		padding: 25px;
	}
	.title h1 {
		display: flex;
		width: 100%;
		max-width: 380px;
		text-align: left;
		float: none;
		font-family: Helvetica;
		font-weight: bold;
		color: #1fc1aa;
		/*Em decisão do verde ou do preto*/
		font-size: 2.8rem;
	}
	.additional-info p {
		display: flex;
		width: 250%;
		max-width: 485px;
		margin-top: 30px;
		text-align: left;
	}
	.twoButtons {
		display: flex;
		height: auto;
		width: 100%;
		max-width: 380px;
	}
	.divButtons {
		display: flex;
		width: 50%;
		max-width: 1920px;
		gap: 1rem;
	}
	.divButtons a {
		text-decoration: none;
	}
	.divButtons button {
		display: flex;
		width: 100%;
		gap: 1rem;
		background-color: #1fc1aa;
		color: white;
		cursor: pointer;
	}
	.divButtons button p {
		font-size: 16px;
		margin: auto auto auto auto;
	}
	.divButtons i {
		font-size: 32px;
		margin: auto auto auto auto;
	}
	#div-img-profile {
		display: flex;
		width: 45%;
		max-width: 1920px;
	}
	#img-profile {
		width: 80%;
		max-width: 1920px;
	}
	@media screen and (max-width: 600px) {
		.home-info {
			width: 100%;
			max-width: 1920px;
			height: 300px;
			margin-top: -10px;
		}
		#titleInfo {
			width: 100%;
			max-width: 1920px;
			padding: 25px;
		}
		.title h1 {
			display: flex;
			width: 100%;
			max-width: 380px;
			float: none;
			font-family: Helvetica;
			font-weight: bold;
			color: #1fc1aa;
			/*Em decisão do verde ou do preto*/
			font-size: 2.8rem;
		}
		.additional-info p {
			display: flex;
			width: 100%;
			max-width: 485px;
			margin-top: 30px;
			text-align: justify;
		}
		.twoButtons {
			display: flex;
			height: auto;
			width: 100%;
			max-width: 380px;
		}
		.divButtons {
			display: flex;
			width: 50%;
			max-width: 1920px;
			gap: 1rem;
		}
		.divButtons a {
			text-decoration: none;
		}
		.divButtons button {
			display: flex;
			width: 100%;
			gap: 1rem;
			background-color: #1fc1aa;
			color: white;
			cursor: pointer;
		}
		.divButtons button p {
			font-size: 16px;
			margin: auto auto auto auto;
		}
		.divButtons i {
			font-size: 32px;
			margin: auto auto auto auto;
		}
		#div-img-profile {
			width: 100%;
			max-width: 1920px;
		}
		#img-profile {
			width: 80%;
			max-width: 1920px;
		}
	}
}