html{
    scroll-behavior: smooth;
}
.items{
    display: flex;
    gap: 0.75rem;
    margin-left: 800px;
    
}
.nav{
    margin-top: 10px;
}
.items p{
    color: black;
}
.items a{
    text-decoration: none;
}
.items i{
    margin-top: 4px;
}
.home-info{
    width: 100%;
    margin-top: 100px;
    height: 300px;
}
#titleInfo{
    width: 55%;
    float: left;
    padding: 25px;
    margin-left: 25px;
 
}
.title h1{
    width: 100%;
    font-family: Helvetica;
    font-weight: bold;
}
.additional-info p{ 
    width: 100%;
    margin-top: 30px;
    word-wrap: break-word;
    text-align: left;
}
#div-img-profile{
    width: 40%;
    float: right;
    height: 300px;
    margin: 0 auto;

}
#img-profile{
    max-width: 60%;
    height: auto;
}
