body{
    font-family: 'Trebuchet MS', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.items{
    display: flex;
    gap: 0.75rem;
    margin-left: 800px;
}
.nav{
    margin-top: 10px;
}
.items p{
    color: black;
}
.items a{
    text-decoration: none;
}
.items i{
    margin-top: 4px;
    color: #1fc1aa;
}
.home-info{
    width: 100%;
    margin-top: 100px;
    height: 300px;
}
#titleInfo{
    width: 55%;
    float: left;
    padding: 25px;
    margin-left: 25px;
}
.title h1{
    width: 100%;
    font-family: Helvetica;
    font-weight: bold;
    color: #1fc1aa; /*Em decisão do verde ou do preto*/
}
.additional-info p{     
    width: 100%;
    margin-top: 30px;
    word-wrap: break-word;
    text-align: left;
}
.col-4{
    margin-right: 15px;
}

.twoButtons{
    display: flex;
    height: auto;
    width: 100%;
}
.divButtons{
    justify-content: left;
    width: 50%;
    display: flex;
    gap: 1rem;
}
.divButtons a{
    text-decoration: none;
}
.divButtons button{
    display: flex;
    gap: 1rem;
    background-color: #1fc1aa;
    color: white;
    border: none;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
    position: relative;
    border-radius: 5px 0px 5px 0px;
}
.divButtons button p{
    font-size: 16px;
    margin: auto auto auto auto;
}
.divButtons i{
    font-size: 32px;
    margin: auto auto auto auto;
}
#div-img-profile{
    width: 40%;
    float: right;
    height: 300px;
    margin: 0 auto;
}
#img-profile{
    max-width: 60%;
    height: auto;
}
